<%# app/views/admin/locatarios/new.html.erb %>

<h1>Novo Locat치rio</h1>

<%# Renderiza o formul치rio parcial que j치 corrigimos %>
<%= render 'form', locatario: @locatario %>

<br>

<div>
  <%# Usamos 'admin_locatarios_path' em vez de 'locatarios_path' %>
  <%= link_to "Voltar aos locat치rios", admin_locatarios_path, class: "btn btn-secondary" %>
</div>