<% content_for :title, "Editar Empréstimo" %>

<h1 class="fw-bold text-primary mb-4">Editar Empréstimo</h1>

<%= render "form", emprestimo: @emprestimo %>

<br>

<div>
  <%= link_to "← Voltar para empréstimos", admin_emprestimos_path, class: "btn btn-outline-secondary" %>
</div>
