<p style="color: green"><%= notice %></p>

<% content_for :title, "Locatarios" %>

<h1>Locatarios</h1>

<div id="locatarios">
  <% @locatarios.each do |locatario| %>
    <%= render locatario %>
    <p>
      <%= link_to "Show this locatario", locatario %>
    </p>
  <% end %>
</div>

<%= link_to "New locatario", new_locatario_path %>
